<section>
  <h2>文档</h2>
  <ul id="docs_posts">
      <li class="post"><a href="http://framerjs.com/docs.html#layers" target="_blank">图层(Layers)</a></li>
      <li class="post"><a href="http://framerjs.com/docs.html#animations" target="_blank">动画(Animations)</a></li>
      <li class="post"><a href="http://framerjs.com/docs.html#events" target="_blank">事件(Events)</a></li>
      <li class="post"><a href="http://framerjs.com/docs.html#utilities" target="_blank">函数库(Utilities)</a></li>
      <li class="post"><a href="http://framerjs.com/docs.html#defaults" target="_blank">默认对象(Defaults)</a></li>
  </ul>
</section>