.hide {
  display: block;
}

#main {
  > .content {
    max-width: 1200px;
    padding: 1em 0em 8em 20.5em;
//    @include transition(.5s);
  }
  > footer {
    height: 0em;
  }
  > footer > .content {
    padding: 0em 13em 0 13em;
    @include transition(.5s);
  }
}

.entry-content {
  p img {
    max-width: 100%;
  }
  a{
    border-bottom: none;
  }
}

#sidebar_control {
  position: fixed;
  left: 0;
  top: 0;
  width: 7em;
  height: 50%;
  z-index: 32767;
}

#sidebar {
  position: absolute;
  left: 6em;
  top: 0;
  width: 4em;
  height: 8em;
  z-index: 32767;
  overflow: auto;
  @include box-sizing(border-box);
  @include transition(.5s);
  .logo {
    position: absolute;
    right: 0em;
//    top: 10px;
//    background: url("../images/menu.png") no-repeat;
//    height: 3em;
//    width: 3em;

  }
  .content {
    //display: none;
    position: absolute;
    right: 1em;
    top: 6em;
    width: 10em;
  }
  ul {list-style: none;}
  li{
    .choosen{
      color: #fff;
    }
  }
}


    
.meta {
  float: left;
  margin-top: 2.5em;
  position: absolute;
}

.articlemeta {
  position: relative;
  float: right;
  width: 0em;
  height: 0em;
  overflow: hidden;
  margin-top: 2em;
  @include box-sizing(border-box);
  @include transition(0.5s);
  .plus {
    position: absolute;
    top: 0.6em;
    right: 0;
    width: 0em;
    text-align: center;
  }
  > .hide {
    position: absolute;
    top: 0.725em;
    right: 3em;
    width: 12em;
  }
}

.articlemeta:hover,
.articlemeta.open, {
  width: 0em;
  > .hide {
    display: block;
  }
}

#disqus_thread {
  margin-top: 6em;
  padding: 2em;
}

#gh_repos p {
  display: none;
}

li.entry {
  list-style-type: none;
}
.first-entry {
  margin: 1em 0 5em 0;
}

@media only screen and (min-width: 971px) {
  #sidebar_control+ #sidebar,
  #sidebar, #sidebar.open {
    position: fixed;
    left: 0;
    width: 15em;
    height: 100%;
    overflow: scroll;
    .hide {
      display: block;
    }
  }
  #sidebar, #sidebar.open {
    + #main {
      > .content {
        padding: 1em 0em 8em 35%;
      }
      > footer > .content {
        padding: 2em 5.5em 0 10.5em;
      }
    }
  }
}

//@media only screen and (max-width: 970px) {
//  #sidebar_control {
//    display: none;
//  }
//  #sidebar {
//    top: 2em;
//    left: 0;
//    height: 3em;
//    width: 8em;
//    .logo {
//      top: 1em;
//    }
//    .content {
//      left: 3em;
//      top: 5.5em;
//    }
//  }
//  #sidebar:hover, #sidebar.open {
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 17em;
//  }
//}

@media only screen and (max-width: 970px) and (min-width: 601px) {
  #sidebar_control+ #sidebar,
  #sidebar, #sidebar.open {
    position: fixed;
    left: 0;
    width: 15em;
    height: 100%;
    overflow: scroll;
    .hide {
      display: block;
    }
  }
  #main {
    > .content {
      padding: 10em 5em 8em 5em;
    }
    > footer > .content {
      padding: 2em 4em 0 4em;
    }
  }
  #sidebar .content {
    height: 8em;
    width: auto;
    section {
      height: 8em;
    }
  }
  #sidebar:hover, #sidebar.open {
    section {
      float: left;
      padding-right: 2em;
    }
    + #main > .content {
      padding: 20em 5em 8em 5em;
    }
  }
}

@media only screen and (max-width: 600px) {
  #main {
    > .content {
      padding: 6em 1.5em 8em 1.5em;
    }
    > footer > .content {
      padding: 2em 1.5em 0 1.5em;
    }
  }

  #sidebar {
    .logo{
      background: url("../images/menu.png") no-repeat;
      background-position: center center;
      height: 2em;
      width: 2em;
      top: 8px;
      right: 1em;
    }
    position: static;
    width: 100%;
    height: 3em;
    @include transition(0s);
    .content{
      position: static;
      padding: 3em 0 0 3em;
      height: auto;
    }
  }
//  #sidebar:hover,
//  #sidebar.open {
//    position: static;
//    height: auto;
//    + #main > .content {
//      padding: 2em 1.5em 8em 1.5em;
//    }
//  }
  .meta {
    float: none;
    margin: 0;
  }
  ul.blog-index {
    margin-left: 0;
  }
}

.first_page{
  text-align: center;
  background:url("../images/background.png") no-repeat 30px 0px;
  margin-left: -10em;
}

.first_page ul{list-style: none;}

.First,.first_page_guide,.main_member{max-width:760px; ;margin: 0 auto;}

.First h2{
  font-size:72px;
  margin-top:130px;
  color:#47b3ee;
  text-align: center;
  margin-bottom:30px;
  font-family:Helvetica Light;
}
.First p,.main_member p{
  color:#47b3ee;
  font-size:18px;
  font-family:"Futura", sans-serif;
  text-align: center;
  line-height: 30px;

}
.first_page_guide{
  display: inline-block;
  text-align: center;
  padding-bottom: 90px;
  margin-top: 620px;
  padding-left: 0px;
}
.first_page_guide a {
  text-decoration: none;
  color: #666;
}
.study,.file{
  margin-left: 0px;
  font-size: 18px;
}
.study li a,.file li a{
  text-decoration: none;
}
.first_page_guide h3,.main_member h3{font-size:24px;font-family: "华文细黑"; font-weight: bold;margin-bottom: 30px;color: #47b3ee;}
.first_page_guide>li{display: inline-block;text-align: center;color: #666;font: 18px;margin: 10px 30px;;list-style: none; }
.main_member{margin-top: 90px;text-align: center;}
.member_list{display: inline-block;list-style: none;}
.study li,.file li{
  margin: 5px 0px;
}
.study li a{text-decoration: none;}
.member_list{margin: 30px;}
.member_list li{cursor: pointer;display: inline-block;margin: 0 15px;}
.member_list li img{width: 82px;height: 82px;display: inline-block;}
.member_list li a{
  text-decoration: none;
}
.member_list li p{
  text-align: center;
  color: #47b3ee;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Futura", sans-serif;

}
